
#tongue::before {
  content: "⬇";
  position: absolute;
  display: block;
  padding: 8px 8px 8px;
  background: #256188;
  color: #fff;
  top: 0%;
  right: 20px;
  box-shadow: 0 2px 1px black;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#tongue {
  position: absolute;
  width: 16px;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
}
#tongue.expanded {
  top: 46px;
}
#tongue.expanded::before {
  content: "⬆";
}
header > article:first-of-type, header + section {
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
header > article:first-of-type { height: 0; overflow: hidden; }
header.expanded > article:first-of-type { height: auto !important; overflow: visible; }
header section.name { display: none; }
header.project { height: auto !important;  }
header .panels_auxiliary { padding-top: 5px; padding-right: 40px; z-index: 1 }
header .panels_control { min-height: 30px; margin-top: 3px; }

header + section#panels_index { top: 50px; }
header.expanded + section#panels_index { top: 100px; }
* {
font-family: 'Proxima Nova', 'Helvetica', 'Ariel', san-serif;
}

.show_unassigned::before {
  content: "Unassigned Stories";
}
.show_unassigned.reset::before {
  content: "Reset (Show All)";
}

.owner:hover {
  color: #fff;
  text-decoration: none !important;
}

.dropdown_menu.copyin_toggle {
  position: relative;
}

.tweaker_menu {
  margin-left: 10px;
}

.dropdown_menu.copyin_toggle:not(.ready) > a::after {
  display: none;
}

.toggle_menu:hover, li.dropdown_menu.copyin_toggle.ready:active .toggle_menu, li.dropdown_menu.copyin_toggle.ready:hover .toggle_menu, li.dropdown_menu.copyin_toggle.ready a:active .toggle_menu {
  display: block;
}
li.dropdown_menu.copyin_toggle .toggle_menu {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 105%;
  z-index: 2;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid black;
  margin-top: -1px;
  margin-left: -1px;
}

li.dropdown_menu.copyin_toggle .toggle_menu a:hover {
  background: #f9f9f9;
}
li.dropdown_menu.copyin_toggle .toggle_menu a:first-of-type {
  border-top-right-radius: 3px;
}
li.dropdown_menu.copyin_toggle .toggle_menu a:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
li.dropdown_menu.copyin_toggle .toggle_menu a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding: 6px;
  white-space: nowrap;
}
li.copyin_toggle .toggle_menu a.divider {
  background: #ddd;
  height: 1px;
  padding: 0;
  pointer-events: none;
}